



/*Text styles*/
* {
    -fx-font-family: Verdana, sans-serif;
}

.loginHeader{
    -fx-text-fill: #FFC000;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.mainLogoText{
    -fx-text-fill: #4169E1;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.mainInfoText {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}
.labelText {
    -fx-text-fill: #5294E2;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.windowLabelText{
    -fx-text-fill: #F9FAF4;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}




/*Component styles*/
.submitButton {
    -fx-background-color: #5294E2;

    -fx-text-fill: #FFC000;
    -fx-font-size: 16px;


    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.editButton {
    -fx-background-color: #93CBCC;

    -fx-text-fill: #36454F;
    -fx-font-size: 16px;


    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

.removeButton {
    -fx-background-color: #F28500;

    -fx-text-fill: #F9FAF4;
    -fx-font-size: 16px;


    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.submitButton:hover, .editButton:hover, .removeButton:hover {
    -fx-background-color: #79C753;
}
.submitButton:pressed, .editButton:pressed, .removeButton:pressed{
    -fx-background-color: #DD4132;
}

.container{
    -fx-background-color: #383C4A;
}

.inputField{
    -fx-background-color: #F9FAF4;

    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}


.listView {
    -fx-background-color: #F9FAF4;
}

