



/*Text styles*/
* {
    -fx-font-family: Verdana, sans-serif;
}

.loginHeader{
    -fx-text-fill: #FFC000;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.mainLogoText{
    -fx-text-fill: #4169E1;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}




/*Component styles*/
.submitButton{
    -fx-background-color: #5294E2;

    -fx-text-fill: #FFC000;
    -fx-font-weight: bold;
    -fx-font-size: 18px;


    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.container{
    -fx-background-color: #383C4A;
}

.inputField{
    -fx-background-color: #F9FAF4;

    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}

